<p id="notice"><%= notice %></p>

<h1>Ports</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Lat</th>
      <th>Long</th>
      <th>Photo</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @ports.each do |port| %>
      <tr>
        <td><%= link_to port[:name], port_path(port) %></td>
        <td><%= port[:latitude] %></td>
        <td><%= port[:longitude] %></td>
        <td><%= port[:photo_id] %></td>
        <td><%= link_to 'E', edit_port_path(port) %></td>
        <td><%= link_to 'D', port, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Port', new_port_path %>
