<%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% selected_job = nil %>
  <% if @job[:client_id] %>
      <% selected_job = @job[:client_id] %>
  <% end %>

  <% job_ids = [] %>
  <% @jobs.each do |job| %>
      <% job_ids << job[job[:id]] %>
  <% end %>
  <% puts "job_ids: #{job_ids}.inspect" %>

  <div class="actions">
    <%= form.label :client_id %><br />
    <%= form.bigint_field :client_id, autofocus: true %><br />
    <%= form.label :manager_id %><br />
    <%= form.bigint_field :manager_id, autofocus: true %><br />
    <%= form.label :origin_id %><br />
    <%= form.bigint_field :origin_id, autofocus: true %><br />
    <%= form.label :destination_id %><br />
    <%= form.bigint_field :destination_id, autofocus: true %>
    <%= form.label :containers %><br />
    <%= form.integer_field :containers, autofocus: true %>
    <%= form.label :price_per_cont %><br />
    <%= form.integer_field :price_per_cont, autofocus: true %>
    <%= form.label :total_price %><br />
    <%= form.decimal_field :total_price, autofocus: true %>
    <%= form.label :photo_id %><br />
    <%= form.select(:photo_id, options_for_select(photo_title_ids, selected_photo)) %></p>

    <%= form.submit %>
  </div>
<% end %>
